#!/usr/bin/make -f
# debian/rules for the Debian libxaw package.
# Copyright © 2004 Scott James Remnant <scott@netsplit.com>
# Copyright © 2005 Daniel Stone <daniel@fooishbar.org>
# Copyright © 2005 David Nusinow <dnusinow@debian.org>

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --with quilt,autoreconf --builddirectory=build/ --parallel

docflags = --enable-specs

override_dh_auto_configure-arch: docflags = --disable-specs
override_dh_auto_configure-arch override_dh_auto_configure-indep:
	dh_auto_configure -- \
		--docdir=\$${datadir}/doc/libxaw7-dev \
		--disable-xaw6 \
		--with-xmlto --without-fop \
		--disable-silent-rules \
		$(docflags) \
		$(shell DEB_CFLAGS_MAINT_APPEND=-Wall dpkg-buildflags --export=configure)

override_dh_auto_install:
	dh_auto_install
	rm -f debian/tmp/usr/lib/*/libXaw.so
	ln -s libXaw7.so debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/libXaw.so

override_dh_install:
	dh_install --fail-missing --exclude=.la

override_dh_strip:
	dh_strip -Nlibxaw7
	dh_strip -plibxaw7 --dbg-package=libxaw7-dbg

override_dh_compress:
	dh_compress -X.xml
